html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #272c34;
  color: #fff;
}

.App-busy {
  height: 20px;
  font-size: 12px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}